pipeline/awss3toblob.json
{
	"name": "awss3toblob",
	"properties": {
		"activities": [
			{
				"name": "s3blobtoazureblob",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"type": "String",
									"ordinal": 1
								},
								"sink": {
									"name": "N-Number",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 2
								},
								"sink": {
									"name": "Serial Number",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 3
								},
								"sink": {
									"name": "MFR MDL Code",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 4
								},
								"sink": {
									"name": "Eng MFR Code",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 5
								},
								"sink": {
									"name": "Year MFR",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 6
								},
								"sink": {
									"name": "Type Registrant",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 7
								},
								"sink": {
									"name": "Name",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 8
								},
								"sink": {
									"name": "Street 1",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 9
								},
								"sink": {
									"name": "Street2",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 10
								},
								"sink": {
									"name": "City",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 11
								},
								"sink": {
									"name": "State",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 12
								},
								"sink": {
									"name": "ZIP",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 13
								},
								"sink": {
									"name": "Region",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 14
								},
								"sink": {
									"name": "County ",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 15
								},
								"sink": {
									"name": "Country",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 16
								},
								"sink": {
									"name": "Last Activity Date",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 17
								},
								"sink": {
									"name": "Cert Issue Date",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 18
								},
								"sink": {
									"name": "Certification Requested ",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 19
								},
								"sink": {
									"name": "Type Aircraft",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 20
								},
								"sink": {
									"name": "Type Engine",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 21
								},
								"sink": {
									"name": "Status Code",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 22
								},
								"sink": {
									"name": "Mode S Code",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 23
								},
								"sink": {
									"name": "Fractional  Ownership",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 24
								},
								"sink": {
									"name": "Airworthiness Date",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 25
								},
								"sink": {
									"name": "Other Name 1",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 26
								},
								"sink": {
									"name": "Other Name 2",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 27
								},
								"sink": {
									"name": "Other Name 3",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 28
								},
								"sink": {
									"name": "Other Name 4",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 29
								},
								"sink": {
									"name": "Other Name 5",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 30
								},
								"sink": {
									"name": "Expiration Date",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 31
								},
								"sink": {
									"name": "Unique ID",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 32
								},
								"sink": {
									"name": "Kit MFR Code",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 33
								},
								"sink": {
									"name": "Kit Model",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 34
								},
								"sink": {
									"name": "Mose S Code Hex",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "MasterFAAFile",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "sendsuccessemail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "s3blobtoazureblob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-45.eastus2.logic.azure.com:443/workflows/6761a6bdcc51461589817405551e5081",
					"method": "POST",
					"headers": {
						"content-type": "application/json"
					},
					"body": {
						"dataFactoryName": "@{pipeline().DataFactory}",
						"successtype": "Succeeded",
						"message": "@{activity('S3blobtoAzure Blob').output.dataWritten}",
						"pipelineName": "@{pipeline().Pipeline}",
						"recipient": "@{pipeline().parameters.recipient}"
					}
				}
			},
			{
				"name": "sendfailureemail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "s3blobtoazureblob",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-45.eastus2.logic.azure.com:443/workflows/6761a6bdcc51461589817405551e5081",
					"method": "POST",
					"headers": {
						"content-type": "json"
					},
					"body": "Body{\"dataFactoryName\":\"@{pipeline().DataFactory}\",\"successtype\":\"Failed\",\"message\":\"@{activity('S3blobtoAzureBlob').error.message}\",\"pipelineName\":\"@{pipeline().Pipeline}\",\"recipient\":\"@{pipeline().parameters.recipient}\"}"
				}
			}
		],
		"parameters": {
			"recipient": {
				"type": "string",
				"defaultValue": "rraghun@Microsoft.com"
			}
		},
		"annotations": []
	}
}